@model IEnumerable<WebDev.Models.Score>

@{
    ViewBag.Title = "Leaderboard";
}

<h2>Leaderboard</h2>

<table class="table">
    <tr>
        <th>
            Player
        </th>
        <th>
            Level
        </th>
        <th>
            Score
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
    </tr>
}

</table>
