
@{
    ViewBag.Title = "Index";
}

@using WebDev.Resources;

<table>
    <thead>
        <h3>@Resource.Textures</h3>
    </thead>

    <tr>
        <td>
            floor
        </td>
        <td>
            <img src="~/assets/textures/floor.jpg" />
        </td>
    </tr>

    <tr>
        <td>
            floor2
        </td>
        <td>
            <img src="~/assets/textures/floor2.jpg" />
        </td>
    </tr>

    <tr>
        <td>
            wall1
        </td>
        <td>
            <img src="~/assets/textures/wall1.jpg" />
        </td>
    </tr>

    <tr>
        <td>
            wall2
        </td>
        <td>
            <img src="~/assets/textures/wall2.jpg" />
        </td>
    </tr>
</table>

